@import 'variables';
@charset "utf-8";

// resettting classes
html, body, div, span, applet,
object, iframe,   h5, h6,
blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav,
output, ruby, section, summary,
time, mark, audio, video,h1,h2,h3,p	           
										{ margin: 0;
										  padding: 0;
										  border: 0;
										  vertical-align: baseline;
										}
article, aside, details, figcaption,
figure, footer, header, hgroup,
menu, nav, section                      { display: block }
ol,
ul                                      { list-style: none }
// End of reset classes

// defaults
div:focus 								{ outline: none;}
a,a:visited 							{ color: inherit;text-decoration: none;}
a:hover, a:focus 						{ text-decoration: none; color: inherit;}

textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"]{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip:padding-box;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-ms-border-radius:0;
	-o-border-radius:0;
	border-radius:0;
	-webkit-appearance:none;
	border:none;
	text-align: left;
	font-size:1em;
	vertical-align: middle;
	padding: 10px 15px;
	margin-bottom: 12px;
}
input, textarea {
	box-shadow: none !important; 
	border-radius: 0;

}
input:focus, textarea:focus, select:focus, option:focus {
	outline: none;
}
p{
	margin-bottom: 15px;
}
body{
	color: $text_black;
	font-family: $regular;
	background-color: $text_white;
	overflow: auto;
	overflow-x: hidden !important;
}
body.hide_scroll{
	padding-right: 17px;
	overflow: hidden !important;
}
// END of resettting classes

// Helper Classes
.float-left								{ float: left !important;}
.float-right							{ float: right !important;}
.clear 									{ clear: both;}                                        
.upper									{ text-transform: uppercase;}
.lower 									{ text-transform: lowercase !important;}			
.posrel  								{ position:relative}
.posabs  								{ position:absolute}			
.mar0auto  								{ margin:0 auto}
.text-left								{ text-align: left;}
.text-right								{ text-align: right;}
.no-padding								{ padding-left: 0px; padding-right: 0px;}
.no-margin								{ margin-left: 0px; margin-right: 0px;}
.maze_o									{ color: #ff9600;}
.maze_b									{ color: #000;}
.text_main_color						{ color: $main_color;}

// end
.noselect {
	-webkit-touch-callout: none; 
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none; 
	user-select: none;
}
::-moz-selection { /* Code for Firefox */
	color: $text_white;
	background: $main_color;
}
::selection {
	color: $text_white;
	background: $main_color;
}

:focus {
    outline: none !important;
}

@-webkit-keyframes fa-beat {
	0% 		{transform:scale(1);}
	5% 		{transform:scale(1.25);}
	20% 	{transform:scale(1.15);}
	30%		{transform:scale(1.8);}
	45% 	{transform:scale(1);}
	100%	{transform:scale(1);}
}

@keyframes fa-beat {
	0% 		{transform:scale(1);}
	5% 		{transform:scale(1.25);}
	20% 	{transform:scale(1.15);}
	30%		{transform:scale(1.8);}
	45% 	{transform:scale(1);}
	100%	{transform:scale(1);}
}
.pulse {
	animation: fa-beat 1.2s ease infinite;
	display: inline-block;
	padding: 0px 5px 0px 4px;
	color: $main_color;
}
@-webkit-keyframes bounce {
	0%			{transform:translateY(0px);}
	50% 		{transform:translateY(-10px);}
	100% 		{transform:translateY(-10px);}
}

@-webkit-keyframes bounce {
	0%			{transform:translateY(0px);}
	50% 		{transform:translateY(-10px);}
	100% 		{transform:translateY(-10px);}
}
#qLtempOverlay{
	display: none;
}

//loader
//loader
#homepage_loader{
	width: 100%;
	height: 100%;
	background-color: #060e9f;
	background-blend-mode: darken;
	background-position: center;
	background-size: cover;
	position: fixed;
	z-index: 999999999;
	top: 0px;
	left: 0px;
	.loading_centered_cont{
		display: table;
		height: 100%;
		width: 100%;
		text-align: center;
		.loading_centered_cont_inner{
			display: table-cell;
			text-align: center;
			vertical-align: middle;
			height: 110px;
			width: 175px;
			img{
				margin-bottom: 10px;
			}
		}
	}
	.loading_bar_container {
		background-color: rgba(255,255,255, 1);
		border-radius: 15px;
		overflow: hidden;
		height: 5px;
		width: 200px;
		margin: 0 auto;
	}
	.loading_bar {
		height: 100%;
		width: 0%;
		background-color: #ff4c00;
		@include transition_c(.7s);
	}
}

.site-header{
	padding: 15px 20px;
	background-color: $main_color;
	.logo{
		width: 50px;
		height: 50px;
	}
	ul{
		li{
			font-size: 18px;
			font-family: $light;
			ligne-height: normal;
			padding-right: 20px;
			color: white;
			transition: .2s;
		}
		li:last-child{
			padding-right: 0px;
		}
		li:hover{
			opacity: .7;
		}
		li.active{
			color: orange
		}
	}
	.btn_web{
		margin-left: 20px;
	}
}

.site-footer{
	background-color: $main_color;
	padding: 50px 0px;
	.logo{
		width: 50px;
		height: 50px;
	}
	.head{
		font-size: 18px;
		font-family: $bold;
		color: white;
		margin-bottom: 20px;
	}
	li{
		font-size: 18px;
		font-family: $light;
		ligne-height: normal;
		color: white;
		margin-bottom: 10px;
	}
	li:last-child{
		margin-bottom: 0px;
	}
	.email{
		color: #85c9ee;
	    font-family: $regular;
	    font-size: 14px;
	    letter-spacing: .12px;
	    margin: 0;
	    padding: 0;
	    width: 290px;
	    height: 47px;
	    border: 1px solid white;
	    padding-left: 20px;
	}
	.blue_btnn{
		width: 155px;
	    height: 47px;
	    padding: 11px 0px;
	    background-color: $main_color;
	    color: white;
	    font-family: $bold;
	    font-size: 13px;
	    letter-spacing: 1.08px;
	    line-height: 20px;
	    text-transform: uppercase;
	    border: 2px solid white;
	    transition: .2s;
	    display: table;
	    text-align: center;
	}
}

.ctc_us_page{
	margin: 80px 0px;
	.blue_btn{
		color: white!important;
	}
	.blue_btn:hover{
		color: $main_color!important;
	}
	.contact_form{
		max-width: 700px;
		margin: 0 auto;
		position: relative;
		.field{
			height: 85px;
			input{
				margin-bottom: 0px!important;
			}
			span.wpcf7-not-valid-tip{
				font-size: 11px;
			}
		}
		input, select{
			border: 1px solid black;
			margin: 0px;
			padding: 12px 15px;
			width: 100%;
			margin-bottom: 30px;
			font-size: 18px;
			color: grey;
			font-family: $light;
		}
		textarea{
			border: 1px solid black;
			width: 100%;
		}
		::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
		  color: grey;
		  opacity: 1; /* Firefox */
		}

		:-ms-input-placeholder { /* Internet Explorer 10-11 */
		  color: grey;
		}

		::-ms-input-placeholder { /* Microsoft Edge */
		  color: grey;
		}
	}
}

.homepage{
	.banner_section{
		.backgroundimg{
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			background-color: #4a3f46;
			height: 600px;
			position: relative;
			display: table;
			width: 100%;
			background-blend-mode: overlay;
			.table_cell{
				display: table-cell;
				vertical-align: middle;
				width: auto;
				.title{
					font-family: $bold;
					font-size: 50px;
					line-height: normal;
					margin-bottom: 30px;
					color: white;
				}
				.banner_subtitle{
					font-size: 33px;
					font-family: $regular;
					line-height: normal;
					color: white;
					max-width: 600px;
				}
				.author{
					margin-bottom: 50px;
					font-style: italic;
				}
				.blue{
					color: $main_color;
				}
			}
		}
	}
}


.login{
	.user_or_doctor{
		width: 600px;
		margin: 100px auto;
		position: relative;
		border: 1px solid $main_color;
		border-radius: 50px;
		padding: 40px 20px;
		.line{
			width: 100%;
			height: 1px;
			background-color: $main_color;
		}
		.content{
			.app_btn{
				// margin: 
			}
		}
		.access_code{
			.web_subtitle{
				border-bottom: 1px solid $main_color;
				padding-left: 0px;
				width: 100%;
			}
		}
		.sign_in{
			font-size: 13px;
			font-family: $regular;
			font-style: italic;
			a{
				color: $main_color;
			}
		}
	}
}


.btn_web{
	padding: 8px 30px;
	transition: .2s;
	border: 1px solid transparent;
	font-size: 16px;
	font-family: $bold;
	color: $main_color;
	background-color: white;
	border-radius: 50px;
	text-align: center;
	display: inline;
}
.btn_web:hover{
	color: white;
	background-color: $main_color;
	border: 1px solid white;
}

.header_on_mobile{
	position: fixed;
	z-index: 10px;
	height: 100%;
	width: 100%;
	top: 0px;
	z-index: 10;
	background-color: $main_color;
	transform: translateY(-100%);
	padding: 15px;
	padding-top: 30px;
	transition: .3s;
	ul{
		position: relative;
		display: block;
		li{
			font-size: 27px;
			font-family: $regular;
			line-height: normal;
			padding-bottom: 23px;
			color: white;
		}
	}
	.underline{
		width: 100%;
		border: solid 2px white;
	}
	.socialmedia_icon{
		margin-top: 20px;
		i{
			color: white;
			padding-right: 10px;
			font-size: 20px;
		}
	}
}
.header_on_mobile.active{
	position: fixed;
	top: 77px;
	transform: translateY(0%);
}
.site-header.is-active{
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
	z-index: 222222;
	position: fixed;
	top: 0;
	width: 100%;
}
.site-header{
	position: relative;
	display: block;
	z-index: 2222;
	// background-color: white;
}
header{
	.hamburger{
		float: right;
		padding: 0px;
		position: relative;
		top: 3px;
	}
	.nav-link {
	    padding: 0px;
	}
	.dropdown-toggle::after{
		position: relative;
		top: 3px;
	}
	.content{
		background-color: $main_color;
		padding: 5px 0px;
		.text{
			color: #ffffff;
			font-family: $light;
			font-size: 15px;
		}
		i.fa-envelope{
			color: rgba(255, 255, 255, 0.6);
			font-size: 20px;
			position: relative;
			top: 2px;
			margin-right: 10px;
		}
		.bar{
			padding: 0px 20px;
		}
		.socialmedia_icon{
			position: relative;
			float: right;
			.facebook, .twitter, .instagram, .linkedin{
				color: #ffffff;
				padding-left: 10px;
				transition: .2s;
			}
			.facebook:hover{
				color: $sec_color;
			}
			.twitter:hover{
				color: #38A1F3;
			}
			.instagram:hover{
				color: rgba(228,64,95,1);
			}
			.linkedin:hover{
				color: #0077B5;
			}
		}
	}
	.header_bar.active{
	    padding-bottom: 30px;
	    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
	}
	.header_bar{
		padding-top: 44px;
		.logo{
			width: 394px;
			height: 88px;
		}
		.logo_internal{
		    width: 344px;
		    height: 88px;
		}
		li{
			color: #254a7a;
			font-family: $regular;
			font-size: 21px;
			padding-left: 36px;
			position: relative;
			select{
				padding: 0px;
				margin: 0px;
			}
			i{
				position: absolute;
			    top: 13px;
			    font-size: 15px;
			    right: -20px;
			}
		}
	}
}	

.background_product{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: #4a3f46;
	height: 300px;
	position: relative;
	width: 100%;
}
.home_body{
	.petsadopt, .news_section, .appointment, .product{
		padding: 80px 0px; 
		.image_pets{
			margin-bottom: 5px;	
		}
		.title{
			font-family: $bold;
			font-size: 25px;
			line-height: normal;
			margin-bottom: 5px;
		}
		.short_name{
			font-size: 15px;
			font-family: $medium;
			color: $main_color;
		}	
	}
	.news_section{
		background-color: #ece1e1;
		.image_news{
			margin-bottom: 5px;	
		}
	}
	.appointment{
		.backgroundimg{
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			background-color: #4a3f46;
			height: 650px;
			position: relative;
			display: table;
			width: 100%;
			background-blend-mode: overlay;
		}
		.left{
			margin-left: 40px;
			.big_title{
				font-size: 37px;
				font-family: $bold;
				line-height: nomral;
			}
			.text_app{
				font-size: 19px;
				line-height: normal;
				font-family: $regular;
			}
		}
	}
}

.div.wpcf7-response-output, div.wpcf7-mail-sent-ok{
	display: none!important;
}


.bluee{
	color: $main_color;
}

.web_title{
	font-size: 30px;
	line-height: normal;
	font-family: $bold;
}
.web_subtitle{
	font-size: 18px;
	line-height: normal;
	font-family: $regular;
}

.app_btn{
	border: 50px;
	padding: 8px 30px;
	text-align: center;
	transition: .2s;
	border: 1px solid $main_color;
	background-color: white;
	color: $main_color;
	font-size: 18px;
	line-height: normal;
	font-family: $bold;
	border-radius: 50px;
	display: inline-block;
	position: relative;
}
.app_btn:hover{
	border: 1px solid $main_color;
	background-color: $main_color;
	color: white;
}

.product{
	.short_name{
		margin-bottom: 60px;
	}
}

.blue_btn{
	border: 50px;
	padding: 8px 30px;
	text-align: center;
	transition: .2s;
	border: 1px solid transparent;
	background-color: $main_color;
	color: white;
	font-size: 18px;
	line-height: normal;
	font-family: $bold;
	border-radius: 50px;
	display: inline-block;
	position: relative;
}
.blue_btn:hover{
	border: 1px solid $main_color;
	background-color: white;
	color: $main_color;
}



.dashboard{
	max-width: 800px;
	margin: 80px auto;
	position: relative;
	border: 1px solid $main_color;
	border-radius: 50px;
	padding: 40px;
	.backgroundimg{
		height: 150px;
		width: 150px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		background-color: white;
	}
	.title{
		font-family: $bold;
		font-size: 19px;
	}
	.short_title{
		font-family: $regular;
		font-size: 19px;
		color : $main_color;
		margin-left: 20px;
	}
}

.news_page, .product, .pets, .appointment{
	padding: 80px 0px;
	.title{
		font-family: $bold;
		font-size: 25px;
		line-height: normal;
		margin-bottom: 5px;
	}
	.short_name{
		font-size: 15px;
		font-family: $medium;
		color: $main_color;
	}	
}
.aboutus{
	padding: 80px 0px;
	.bac_image{
		height: 670px;
		width: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		background-color: white;
		display: block;
	}
}

.swiper_reveal.is-active .swiper_reveal_inner {
	transform: translate3d(0px, 0px, 0px);
	-webkit-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0px, 0px, 0px);
	opacity: 1;
	left: 0;
}
.swiper_reveal_container {
	transition: opacity 0.5s ease-out;
	p{
		margin-bottom: 0px;
	}
	img{
		max-width: 33px;
		margin-right: 6px;
		position: relative;
		top: 3px;
	}
}
.swiper_reveal.skin_dark_color:after, .swiper_reveal.skin_dark_color.with-vline:before {
	background-color: $sec_color;
}
.swiper_reveal.is-active:after {
	bottom: 0;
	left: 100%;
	margin-right: 0;
	right: 0px;
}

.swiper_reveal:after {
	content: '';
	background-color: $main_color;
	position: absolute;
	margin: 0;
	bottom: 0;
	left: 0;
	right: 100%;
	top: 0;
	transition: right 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.3s, left 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.6s;
}
.swiper_reveal .swiper_reveal_inner {
	display: block;
	opacity: 0;
	left: -10px;
	transform: translate3d(-10px, 0px, 0px);
	-webkit-transform: translate3d(-10px, 0px, 0px);
	-moz-transform: translate3d(-10px, 0px, 0px);
	transition: all 0.2s ease 0.8s;
}
.header.bcg-parallax .swiper_reveal_container {
	font-size: 60px;
	font-weight: 900;
	margin-bottom: 25px;
	transition: opacity 0.5s ease-out;
	overflow: auto;
}
.header.bcg-parallax .swiper_reveal_container {
	font-size: 60px;
	font-weight: 900;
	margin-bottom: 25px;
	transition: opacity 0.5s ease-out;
}
.swiper_reveal {
	display: block;
	// float: left;
	clear: both;
	position: relative;
}

.site-page{
	overflow: hidden;
}

// =============================================================================================================================
// =============================================================================================================================
// start of breakpoints 
@media (max-width: 1399px){
	.homepage .banner_section .backgroundimg{
		height: 500px;
	}
}







@media (max-width: 1199px){
	.homepage .banner_section .backgroundimg .table_cell .title{
		font-size: 40px;
		margin-bottom: 20px;
	}
	.homepage .banner_section .backgroundimg .table_cell .banner_subtitle {
	    font-size: 27px;
	    max-width: 560px;
	}
	.homepage .banner_section .backgroundimg .table_cell .author{
		margin-bottom: 30px;
	}
	.background_product{
		height: 220px;
	}
	.home_body .appointment .backgroundimg{
		height: 450px;
	}
	.home_body .appointment .left .text_app{
		font-size: 16px;
		line-height: 22px;
	}
}






@media (max-width: 991px){
	.site-footer .email{
		width: 220px;
	}
	.homepage .banner_section .backgroundimg{
		height: 350px;
	}
	.home_body .petsadopt, .home_body .news_section, .home_body .appointment, .home_body .product{
		padding: 60px 0px;
	}
	.web_subtitle{
		font-size: 16px;
	}
	.home_body .appointment .backgroundimg{
		height: 350px;
	}
	.home_body .appointment .left{
		margin-left: 0px;
	}
	.home_body .appointment .left .big_title{
		font-size: 29px;
	}
	.home_body .appointment .left .text_app{
		font-size: 14px;
	}
	.app_btn, .blue_btn{
		font-size: 15px;
	}
	.home_body .petsadopt .title, .home_body .news_section .title, .home_body .appointment .title, .home_body .product .title{
		font-size: 19px;
	}
	.dashboard{
		margin: 60px;
	}
	.news_page, .product, .pets, .appointment{
		padding: 60px 0px;
	}
	.login .user_or_doctor{
		width: 100%;
	}
}





@media (max-width: 767px){
	.site-header .logo, .site-footer .logo{
	    width: 40px;
	    height: 40px;
	}
	.homepage .banner_section .backgroundimg .table_cell .title{
		font-size: 30px;
	}
	.homepage .banner_section .backgroundimg .table_cell .banner_subtitle{
		font-size: 23px;
	}
	.header_on_mobile.active{
		top: 67px;
	}
	.header_on_mobile ul li{
		font-size: 20px;
	}
	.web_title{
		font-size: 19px;
	}
	.login .user_or_doctor{
		margin: 50px 0px;
	}
}






@media (max-width: 575px){
	.site-footer .email{
	    width: 180px;
	}
	.site-footer .blue_btnn{
		width: 100px;
	}
	.site-footer .blue_btnn{
		font-size: 11px;
	}
	.site-footer .head{
		margin-top: 20px;
		font-size: 16px;
	}
	.site-footer .email, .site-footer .blue_btnn{
		height: 40px;
	}
	.site-footer .blue_btnn{
		padding: 8px 0px;
	}
	.site-footer{
	    padding: 30px 0px;
	}
	.wpbdmv-animation{
		max-width: 130px!important;
	}
	.dashboard{
		margin: 20px;
		padding: 15px 10px;
	}
	.dashboard .title, .dashboard .short_title{
		font-size: 16px;
	}
	.dashboard .backgroundimg{
		width: 80px;
		height: 80px;
		position: relative;
		margin-bottom: 15px;
	}
	.news_page .title, .product .title, .pets .title, .appointment .title{
		font-size: 19px;
	}
	.news_page .short_name, .product .short_name, .pets .short_name, .appointment .short_name{
		font-size: 13px;
	}
	.news_page, .product, .pets, .appointment{
		padding: 40px 0px;
	}
}





@media (max-width: 450px){

}











//  changing bootstrao container size;
@media (min-width: 576px) {
  /* change this, by default 540px */
   .container {
     max-width: 530px;
  }
}
@media (min-width: 768px) {
  /* change this, by default 720px */
  .container {
  max-width: 710px;
  }
}
@media (min-width: 992px) {
  /* change this, by default 960px */
  .container {
    max-width: 950px;
  }
}
@media (min-width: 1200px) {
  /* change this, by default 1140px */
  .container {
    max-width: 1160px;
  }
}
@media (min-width: 1400px) {
	.container {
		max-width: 1360px;
	}
}